:root {
  --light-orange: rgb(243, 190, 116);
  --orange-color: #ff9b50;
  --dark-orange: rgb(240, 107, 74);
  --red-color: #ff0000;
  --green-color: #20c120;
}
* {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* STYLING SECTION HEADER */
.navbar {
  box-shadow: 0px -2px 10px #303030;
}
.container {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--light-orange);
}

nav.scrolling {
  background: linear-gradient(
    70deg,
    rgb(252, 194, 111) 10%,
    rgb(253, 157, 83) 40%,
    rgb(240, 107, 74) 100%
  );
}

/* Sub-Title Menu Navbar */
h2 {
  color: var(--dark-orange);
  padding: 2px;
}

h3 {
  color: var(--dark-orange);
}

/* Styling Gap Per Section */
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* STYLING SECTION HOME */
.home {
  position: relative;
}
.homepage {
  background-image: url(./picts/sisiDepan.webp);
  background-size: cover;
  background-position: top;
  z-index: 1;
  background-repeat: no-repeat;
  filter: brightness(40%);
  height: 100vh;
}

.home-title {
  position: absolute;
  padding: 1rem;
  top: 15rem;
  left: 10rem;
  color: white;
}

.home-title h1 {
  padding: 5px;
  font-size: 44pt;
}

.home-title p {
  color: #dbdada;
  font-size: 13pt;
  padding: 10px;
}
/* STYLING SECTION TENTANG MUSEUM */
.text-about {
  text-align: justify;
}

/* STYLING SECTION GALERI MUSEUM */
.gallery {
  gap: 2rem;
  padding: 1rem;
}

/* card koleksi museum */
.card {
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card img {
  height: 250px;
  object-fit: cover;
  object-position: top;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.zoom-img {
  overflow: hidden;
}
.card img:hover {
  filter: brightness(60%);
  transform: scale(1.1);
}

.card-title {
  color: var(--orange-color);
}
.card-text {
  text-align: justify;
}

/* Styling section review */
.cardact {
  gap: 12px;
}

.box-text {
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #313131;
  border-radius: 10px;
}

.box-text:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Styling Section Latar Feedback */
.felow {
  gap: 2.5rem;
}
.felow {
  background-color: #feead4;
  padding: 1rem;
}

/* Styling Lokasi */
.lokasi {
  gap: 1rem;
}
/* Styling Form Feedback */
form {
  border: 1px solid var(--dark-orange);
  padding: 1.5rem;
  border-radius: 10px;
}

.sub-form {
  padding: 4px 16px 4px;
}

.sub-form input::placeholder {
  align-items: center;
  font-size: 10pt;
}

.sub-form textarea::placeholder {
  font-size: 10pt;
}

.sub-form label {
  font-weight: 400;
  color: var(--orange-color);
}

.sub-form.success input {
  border: 1px solid var(--green-color);
}
.sub-form.error input {
  border: 1px solid var(--red-color);
}

.sub-form.error textarea {
  border: 1px solid var(--red-color);
}

.sub-form.success textarea {
  border: 1px solid var(--green-color);
}

.sub-form small {
  color: var(--red-color);
  font-size: 9pt;
  visibility: hidden;
}

.sub-form.error small {
  visibility: visible;
}

.submit {
  border: none;
  background-color: var(--dark-orange);
}

.submit:hover {
  background-color: var(--orange-color);
}

/* Styling Section Footer */
footer {
  padding-top: 4rem;
  background: #252525;
}

.profile i {
  color: var(--orange-color);
  font-size: 14pt;
}

li {
  color: white;
  font-size: 11pt;
}

a i {
  cursor: pointer;
  color: white;
}

.connect span {
  text-align: center;
  padding-left: 23px;
  color: white;
  font-size: 12pt;
  padding-bottom: 10px;
}
.connect p {
  color: white;
}

.connect a {
  font-size: 13pt;
}
.sub-footer {
  position: relative;
}

.copyright {
  border-top: 0.1px solid #ffffff56;
  text-align: right;
  width: 100%;
  color: white;
  right: 0;
  bottom: 0;
  font-size: 9pt;
  padding-top: 5px;
}

@media (max-width: 994px) {
  .navbar {
    background: linear-gradient(
      70deg,
      rgb(252, 194, 111) 10%,
      rgb(253, 157, 83) 40%,
      rgb(240, 107, 74) 100%
    );
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
  .home-title {
    top: 20rem;
    left: 5rem;
  }

  .home-title h1 {
    font-size: 40pt;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  html {
    font-size: 70%;
  }
  .home-title {
    top: 20rem;
    left: 2rem;
  }
  .home-title h1 {
    font-size: 34pt;
  }

  .sub-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .copyright {
    font-size: 7pt;
  }
}
